@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --red: #ff3838;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.container{
    max-width: 1440px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

*::selection {
    background: var(--red);
    color: #fff;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {
    background: #f7f7f7;
}


.title {
    text-align: center;
    font-size: 35px;
    padding: 10px;
    color: #666;
    font-weight: bold;
}

.title__span {
    color: var(--red);
}

.btn {
    display: inline-block;
    padding: 8px 30px;
    border: 2px solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    margin-top: 10px;

}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--red);
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
    left: 0;
}

.btn:hover {
    color: #fff;
}

.header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    background: #fff;
}

.header__contant {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header__logo-link {
    font-size: 25px;
    font-weight: bolder;
    color: #666;
}

.header__logo-icon {
    padding-right: 0.5rem;
    color: var(--red);
}

.header__nav-link {
    font-size: 20px;
    margin-left: 20px;
    color: #666;
}

.header__nav-link:hover {
    color: var(--red);
}

.header__menu {
    font-size: 30px;
    padding: 5px 15px;
    cursor: pointer;
    color: #666;
    border: 1px solid #666;
    border-radius: 3px;
    display: none;
}

.home {
    background: url(../images/home-bg.jpg) no-repeat center/cover;
    
}
.home__content{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}
.home__info {
    flex: 1 1 400px;
    padding: 50px 0;
}

.home__image {
    flex: 1 1 400px;
    padding: 50px 0;
}

.home__image-img {
    width: 100%;
    padding: 10px;
    animation: float 3s linear infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(30px);
    }
}

.home__content-title {
    font-size: 50px;
    color: #333;
}

.home__content-text {
    font-size: 17px;
    color: #666;
    padding: 10px 0;
}

.speciality__content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.speciality__content-item {
    flex: 1 1 300px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
    cursor: pointer;
    border-radius: 5px;
}

.speciality__content-item-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.speciality__info {
    text-align: center;
    background: #fff;
    padding: 20px;
}

.speciality__info-icon {
    margin: 15px 0;
}

.speciality__info-title {
    font-size: 25px;
    color: #333;
}

.speciality__info-text {
    font-size: 16px;
    color: #666;
    padding: 10px 0;
}

.speciality__content-item:hover .speciality__content-item-img {
    top: 0;
}

.speciality__content-item:hover .speciality__info {
    transform: translateY(100%);
}




.popular__content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.popular__item {
    padding: 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    text-align: center;
    flex: 1 1 300px;
    position: relative;
}

.popular__img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}


.popular__price {
    position: absolute;
    top: 30px;
    left: 30px;
    background: var(--red);
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}

.popular__title {
    color: #333;
    font-size: 25px;
    padding-top: 10px;
}

.popular__stars-icon {
    color: gold;
    font-size: 17px;
    padding: 10px 1px;
}

.step__content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
}

.step__content-item {
    flex: 1 1 250px;
    padding: 10px;
    text-align: center;
}

.step__img {
    border-radius: 50%;
    border: 10px solid #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}


.step__text {
    font-size: 30px;
    color: #333;
    padding: 10px;
    font-weight: bold;
}



.gallery__content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.gallery__content-item {
    flex: 1 1 300px;
    height: 25rem;
    border: 10px solid #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.gallery__info {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    padding: 20px;
    padding-top: 50px;
    text-align: center;
}

.gallery__content-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__content-item:hover .gallery__info {
    top: 0;
}


.gallery__info-title {
    font-size: 25px;
    color: #333;
}

.gallery__info-text {
    font-size: 15px;
    color: #666;
    padding: 10px 0;
}

.review__content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.review__content-item {
    flex: 1 1 300px;
    text-align: center;
    border: 10px solid #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-radius: 5px;
    background: #333;
    margin-top: 60px;
    padding: 20px;
}

.review__img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 10px solid #fff;
    margin-top: -80px;
    object-fit: cover;
}

.review__title {
    font-size: 25px;
    color: #fff;
    padding: 5px 0;
}

.review__stars-icon {
    font-size: 20px;
    color: var(--red);
    padding: 5px 0;
}

.review__text {
    font-size: 15px;
    color: #eee;
    padding: 10px 0;
}

.row {
    padding: 20px;
    box-shadow: 0 5px 1px rgba(0, 0, 0, .1);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    border-radius: 5px;
}

.order__image {
    flex: 1 1 300px;
}

.order__image-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.form__content {
    flex: 1 1 500px;
    padding: 10px;
}

.form__content-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form__input,
.from__comment {
    padding: 10px;
    margin: 10px 0;
    font-size: 17px;
    color: #333;
    text-transform: none;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    width: 49%;
}

.from__comment {
    width: 100%;
    resize: none;
    height: 150px;
}

.from__btn {
    background: none;
}

.from__btn:hover {
    background: var(--red);
}

.footer {
    background: #000;
    text-align: center;
}

.footer__social{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__title{
    padding: 25px 10px;
    color: #fff;
    font-weight: normal;
    font-size: 20px;
}

.footer__title-span{
    color: var(--red);
}

#scroll-top {
    position: fixed;
    top: -120%;
    right: 20px;
    padding: 5px 15px;
    font-size: 40px;
    background: var(--red);
    color: #fff;
    border-radius: 5px;
    transition: 1s linear;
    z-index: 1000;
}

#scroll-top.active {
    top: calc(100% - 12rem)
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loader-container.fade-out {
    top: -120%;
} 














/* media queries  */

@media(max-width:991px) {

    html {
        font-size: 55%;
    }


    section {
        padding: 2rem;
    }

}

@media(max-width:768px) {

    .header__menu {
        display: initial;
    }

    .header__nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: 1px solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header__nav.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header__nav-link{
        margin: 15px;
        padding: 15px;
        display: block;
        border: 2px solid rgba(0, 0, 0, .1);
        border-left: 5px solid var(--red);
        background: #fff;
    }

}

@media(max-width:450px) {

    html {
        font-size: 50%;
    }

    .form__input {
        width: 100%;
    }
    .gallery__info{
        padding-top: 15px ;
    }

}